#blue-background {
	-fx-background-color: blue;
}

#command-history-button {
	-fx-background-color: #4c85dd;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-border-color: white white white white;
    -fx-border-width: 2px 2px 0px 2px;
}